<h1>New Entry</h1>

<%= form_with url: "/entries", local: true do |form| %>
  <p>
    <%= form.label :title, "Name of Place" %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :posted_on, "Posted On" %>
    <%= form.date_field :posted_on, value: Date.today.strftime("%d/%m/%Y") %>
  </p>

  <%= form.submit "Submit" %>
<% end %>
