<!-- Entry details page -->

<h1>
<%= @entry["title"] %>, 
<%= @entry["description"] %>,e
<%= @entry.date.strftime["%d/%m/%Y"] %></h1>


<p><a href="/places/<%= @place["id"] %>">Back to <%= @place["name"] %></a></p>