<!-- place details page -->

<h1><%= @place["name"] %></h1>


<h3>Description</h3>

<ul>
  <% for entry in @entries %>
    <li>
      <a href="/entries/<%= entry["id"] %>">
        <%= entry["title"] %>, 
        <%= entry["description"] %>, 
        <%= entry["posted_on"] %>
      </a>
    </li>
  <% end %>
</ul>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

<p><a href="/places">Back to Homescreen</a></p>
